<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>
    <div id="game">
        <div class="pic">
            <img id="homePic" src="{{homePicSrc}}">
            <p id='home'>{{homeTeam}}</p>
        </div>
        <p>VS</p>
        <div class="pic">
            <img id="visitorPic" src="{{visitorPicSrc}}">
            <p id='visitors'>{{visitorTeam}}</p>
        </div>
    </div>


    <div class="stats">
        <p>Scores</p>
        <div class="info">
            <ul id="homeStats">
                {{#each homeStats}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <ul id="visitorStats">
                {{#each visitorStats}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>


    <script src="../../public/js/featuredGames.js"></script>
</body>

</html>

